@import "styles/theme";

.Section {
  padding: 4rem 0;
  text-align: center;
}

.Section-Light {
  background-color: $lightest;
}

.Section-Dark {
  background-color: $dark;

  h1, h2, h3, h4, h5, h6 {
    color: $light-font;
  }
}